<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <body>
        <form layout:fragment="content" action="#" th:action="@{/groups/edit/{id}(id=${group.id})}" th:object="${group}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Name" />
                <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>

            <div class="form-group">
                <div>Roles</div>
                <div th:each="role: ${roles}" class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.id}" th:id="${role.name}" >
                    <label th:for="${role.name}" th:text="${role.name}" class="form-check-label"></label>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Save Group">
        </form>
    </body>
</html>
