<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
    <body>
        <div layout:fragment="content" class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>createdAt</th>
                        <th>updatedAt</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${groups}">
                        <td th:text="${group.id}"></td>
                        <td th:text="${group.name}"></td>
                        <td th:text="${group.createdAt}"></td>
                        <td th:text="${group.updatedAt}"></td>
                        <td><a th:href="@{/groups/edit/{id}(id=${group.id})}">edit</a></td>
                        <td><a th:href="@{/groups/delete/{id}(id=${group.id})}">delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
