<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<body>
<form layout:fragment="content" action="#" th:action="@{/users/add}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username" placeholder="Username" class="form-control">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback d-block"></div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" th:field="*{passwordDigest}" id="password" placeholder="Password" class="form-control">
        <div th:if="${#fields.hasErrors('passwordDigest')}" th:errors="*{passwordDigest}" class="invalid-feedback d-block"></div>
    </div>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" th:field="*{firstName}" id="firstname" placeholder="First Name" class="form-control">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback d-block"></div>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" th:field="*{lastName}" id="lastname" placeholder="Last Name" class="form-control">
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback d-block"></div>
    </div>
    <div class="form-group">
        <label for="group">Group</label>
        <select th:field="*{group}" id="group" class="form-control">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
        <div th:if="${#fields.hasErrors('group')}" th:errors="*{group}" class="invalid-feedback d-block"></div>
    </div>
    <input class="btn btn-primary" type="submit" value="Add User">
</form>
</body>
</html>