<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body class="">
    <section layout:replace="~{fragments/nav :: nav}">
        <nav>
            <p>NAVBAR</p>
        </nav>
    </section>
    <div class="container">
        <section layout:fragment="content">
            <p>Page content</p>
        </section>
    </div>

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.7/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>